body {
    font-family: sans-serif;
    background: url("bg-repeat.jpg");
    background-repeat: repeat-x;
    background-color: #c1c3ea;
}
#bgdiv {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    min-height: 800px;
    background: url("background.jpg");
    background-repeat: no-repeat;
}

#content {
    margin:10px;
    padding-bottom:2em;
}

#nav {
    position: absolute;
    top: 2em;
    right: 2em;
}

#prefwindow {
    position: absolute;
    width: 20em;
    top: 4em;
    right: 2em;
    background-color: white;
    border-radius: 4px;
    padding: 3px;
}

.navbutton {
    border-style:none;
}

.navbutton, #nav a {
    border-radius: 4px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #a75c33;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbutton:hover, #nav a:hover {
    color: #a75c33;
    background-color: white;
}

#responsediv {
    display:none;
    position:fixed;
    top:10px;
    width:10%;
    left: 45%;
    border-radius:4px;
    padding: 5px;
    background-color: #a75c33;
    color: white;
    text-align:center;
}

.amnt {
    width: 1.5em;
    margin-right:0.3em;
}

.cb {
    margin-right: 2.5em;
}

.completed {
    opacity: 0.4;
}

.center {
    text-align: center
}

.emph {
    font-weight:bold;
}

#username {
    margin-right:1em;
}

.changelog {
    margin-bottom:0.2em;
}
.changelog a {
    font-family: monospace;
}

ul.map-selection {
    list-style-type: none;
}

ul.map-selection li {
    float:left;
    margin-right:.2em;
}

