<html>
<head>
<title>SkyBlock</title>
<script type="text/javascript">
function store() {
	data = "";
	for (i = 1; i <= 50; i++) {
		cb = document.getElementById(i);
		if(cb.checked) {
			console.log("challenge " + i + " checked");
			data += i+",";
		}
	}
	r = new XMLHttpRequest();
	r.onreadystatechange=function(){
		if(r.readyState==4 && r.status==200) {
			rd = document.getElementById("responsediv");
			rd.innerHTML=r.responseText;
			// todo: make rd fade in/out	
		}
	}
	r.open("POST", "/store", true);
	r.send(data)
}

function load() {
	for (i = 1; i <= 50; i++) {
		cb = document.getElementById(i);
		if (localStorage.getItem(i) == "1") {
			cb.checked = true;
		}
	}
}

function copyout() {
	var text = document.getElementById("ta");
	text.value = "";
	for (i = 1; i <= 50; i++) {
		if (localStorage.getItem(i) == "1") {
			text.value += i+",";
		}
	}
}

function copyin() {
	var text = document.getElementById("ta").value;
	var elems = text.split(",");
	for (i = 0; i < elems.length-1; i++) {
		var num  = parseInt(elems[i])
		var cb = document.getElementById(num);
		cb.checked = true;
		console.log("setting " + num);
		localStorage.setItem(num, "1");
	}
}
</script>
</head>
<body onload="javascript:load()">
<div id="responsediv"></div><br /><br />
<form name="dummy" onchange="javascript:store()" action="./store">
<ul>
Challenges:
<li><input type="checkbox" name="1" id="1" /> 1) Build a Cobble Stone generator.</li>
<li><input type="checkbox" name="2" id="2" /> 2) Build a house.</li>
<li><input type="checkbox" name="3" id="3" /> 3) Expand the island.</li>
<li><input type="checkbox" name="4" id="4" /> 4) Make a melon farm.</li>
<li><input type="checkbox" name="5" id="5" /> 5) Make a pumpkin farm.</li>
<li><input type="checkbox" name="6" id="6" /> 6) Make a reed/sugarcane farm.</li>
<li><input type="checkbox" name="7" id="7" /> 7) Make a wheat farm.</li>
<li><input type="checkbox" name="8" id="8" /> 8) Make a giant red mushroom.</li>
<li><input type="checkbox" name="9" id="9" /> 9) Craft a bed.</li>
<li><input type="checkbox" name="10" id="10" /> 10) Make 64 stone brick's.</li>
<li><input type="checkbox" name="11" id="11" /> 11) Make 20 torches.</li>
<li><input type="checkbox" name="12" id="12" /> 12) Make an infinite water source.</li>
<li><input type="checkbox" name="13" id="13" /> 13) Craft a furnace.</li>
<li><input type="checkbox" name="14" id="14" /> 14) Make a small lake.</li>
<li><input type="checkbox" name="15" id="15" /> 15) Build a platform 24 blocks away from the island, for mobs to spawn.</li>
<li><input type="checkbox" name="16" id="16" /> 16) Make 10 cactus green dye.</li>
<li><input type="checkbox" name="17" id="17" /> 17) Make 10 mushroom stew.</li>
<li><input type="checkbox" name="18" id="18" /> 18) Craft 10 Jack 'o' lanterns.</li>
<li><input type="checkbox" name="19" id="19" /> 19) Craft 10 bookcases.</li>
<li><input type="checkbox" name="20" id="20" /> 20) Make 10 bread.</li>
<li><input type="checkbox" name="21" id="21" /> 21) Collect 10 Ender-pearls.</li>
<li><input type="checkbox" name="22" id="22" /> 22) Cook 10 fish.</li>
<li><input type="checkbox" name="23" id="23" /> 23) Craft 10 Black Wool.</li>
<li><input type="checkbox" name="24" id="24" /> 24) Craft 10 Gray Wool.</li>
<li><input type="checkbox" name="25" id="25" /> 25) Craft 10 Light Gray Wool.</li>
<li><input type="checkbox" name="26" id="26" /> 26) Craft 10 Lime Green Wool.</li>
<li><input type="checkbox" name="27" id="27" /> 27) Craft 10 Red Wool.</li>
<li><input type="checkbox" name="28" id="28" /> 28) Craft 10 Yellow Wool.</li>
<li><input type="checkbox" name="29" id="29" /> 29) Craft 10 Pink Wool.</li>
<li><input type="checkbox" name="30" id="30" /> 30) Craft 10 Green Wool.</li>
<li><input type="checkbox" name="31" id="31" /> 31) Craft 10 Orange Wool.</li>
<li><input type="checkbox" name="32" id="32" /> 32) Craft 10 Snow Golems.</li>
<li><input type="checkbox" name="33" id="33" /> 33) Craft 20 Paintings.</li>
<li><input type="checkbox" name="34" id="34" /> 34) Build and light a nether portal.</li>
<li><input type="checkbox" name="35" id="35" /> 35) Craft 5 Gold Ingots.</li>
<li><input type="checkbox" name="36" id="36" /> 36) Craft 16 Glass Panes.</li>
<li><input type="checkbox" name="37" id="37" /> 37) Collect 50 birch logs.</li>
<li><input type="checkbox" name="38" id="38" /> 38) Collect 64 arrows and craft a bow.</li>
<li><input type="checkbox" name="39" id="39" /> 39) Craft 10 stone buttons.</li>
<li><input type="checkbox" name="40" id="40" /> 40) Craft 30 stone slabs.</li>
<li><input type="checkbox" name="41" id="41" /> 41) Craft 10 signs.</li>
<li><input type="checkbox" name="42" id="42" /> 42) Craft 20 ladders.</li>
<li><input type="checkbox" name="43" id="43" /> 43) Craft 20 fences.</li>
<li><input type="checkbox" name="44" id="44" /> 44) Craft 20 fence gates.</li>
<li><input type="checkbox" name="45" id="45" /> 45) Craft 10 levers.</li>
<li><input type="checkbox" name="46" id="46" /> 46) Craft 10 trapdoors.</li>
<li><input type="checkbox" name="47" id="47" /> 47) Craft 10 stone pressure plates.</li>
<li><input type="checkbox" name="48" id="48" /> 48) Craft 10 wooden pressure plates.</li>
<li><input type="checkbox" name="49" id="49" /> 49) Collect 64 bonemeal.</li>
<li><input type="checkbox" name="50" id="50" /> 50) Craft 20 cobblestone stairs</li>
</ul>
<input type="submit" value="Store to server" />
</form>

<!-- copy in / copy out -->
<form name="copy">
<textarea name="ta" id="ta" style="width:300px; height:150px"></textarea><br />
<input type="button" value="copy-out" onclick="javascript:copyout()" />
<input type="button" value="copy-in" onclick="javascript:copyin()" />
</form>
</body></html>
